@charset "UTF-8";
html {
  font-size: 100%;
  box-sizing: border-box;
}

/*****Variables*****/
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: var(--ff-secondary);
  align-items: center;
  justify-content: center;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  -webkit-animation: pulse 10s infinite;
          animation: pulse 10s infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes pulse {
  0% {
    background-color: #001f3f;
  }
  25% {
    background-color: #2a022e;
  }
  50% {
    background-color: #033a1a;
  }
  75% {
    background-color: #5a0240;
  }
  100% {
    background-color: #680909;
  }
}

@keyframes pulse {
  0% {
    background-color: #001f3f;
  }
  25% {
    background-color: #2a022e;
  }
  50% {
    background-color: #033a1a;
  }
  75% {
    background-color: #5a0240;
  }
  100% {
    background-color: #680909;
  }
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
@media screen and (min-width: 400px) {
  .section-center {
    width: 95vw;
  }

  .button {
    position: relative;
    align-items: center;
  }
  .button .btn {
    position: relative;
    align-items: center;
    transform: translate(50%, -50%);
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    position: relative;
    align-items: center;
  }
  .button .btn {
    position: relative;
    align-items: center;
    transform: translate(50%, -50%);
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  justify-content: center;
}

.header {
  margin: auto;
  background-color: var(--clr-grey-9);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  padding: 5px;
  text-align: center;
  align-items: center;
  transition: all 1s;
}

h1 {
  margin-bottom: auto;
  text-align: center;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.button {
  padding-top: 20px;
}
.button .btn {
  padding: 5px;
  position: absolute;
  transform: translate(50%, -50%);
  background-color: #f4511e;
  border: none;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  width: 120px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn:hover {
  background-color: #490050;
}

.btn:active {
  background-color: #3e8341;
}

.converter {
  -webkit-backdrop-filter: blur;
          backdrop-filter: blur;
  background-color: var(--clr-grey-8);
  padding: 50px;
  box-sizing: inherit;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.input {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin: auto;
  border-radius: 20px;
}
.input #celsius {
  outline: none;
  font-size: 20px;
  border-style: solid;
  box-sizing: border-box;
  padding-bottom: 5px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
.input #fahrenheit {
  outline: none;
  font-size: 20px;
  border-style: solid;
  box-sizing: border-box;
  padding-bottom: 5px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

/*display-result*/
.result {
  place-items: center;
  background-color: var(--clr-grey-9);
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.display-result {
  margin-bottom: 0;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  transition: all 2s;
  font-size: 25px;
  font-weight: bolder;
}

hr {
  height: 0%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=app.css.map */